<h2>Update the product</h2>

  <button onclick="window.location.href = '/'">Cancel</button>

<ul>

<meta charset="utf-8">
<form method="post" action="/saveUpdate/{{id}}">
  <input type="text"   name="name" value={{name}} required/>
  <input type="text"  name="description" value={{description}} required/>
  <input type="number" name="price" value={{price}} min="0" required/>
  <input type="submit"  value="UPDATE"/>
</form>

</ul>



